
body {
    margin: 0;
    top: 0;
    overflow: hidden;
}
#main {
    width: 100%;
    height: 70px;
    top: -15px;
    left: 0;
    background-color: rgba( 255, 255, 255, 0);
    position: relative;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    font-weight: bold;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.menu li {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    left: -25px;
    display: block;
}
.menu a:hover {
    color: lightgray
}
.sub-menu {
    display: none;
    list-style: none;
    position: absolute;
    background-color: white;
    border-radius: 7px;
    width: 110px;
    top: -5;
    box-shadow: 5px 5px 15px -10px black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub-menu li {
    left: -31px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    padding: 5px;
    padding-right: 126px;
    border-radius: 7px;
}
.sub-menu li a {
    text-decoration: none;
    color: black;
}
.sub-menu li a:hover {
    color: black;
}
.sub-menu li:hover {
    background-color: lightgray;
}
#menu-back {
    position: absolute;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -100;
    background-color: black;
}